<section class="features7 cid-rJgVKGXiUa" id="features7-j">
  <div class="container-fluid">
    <h2 class="mbr-section-title align-center mbr-fonts-style display-2">Hello, {{ user }}</h2>
    <div class="underline align-center">
      <div class="line"></div>
    </div>
    <h3 class="mbr-section-subtitle display-5 align-center mbr-fonts-style mbr-light pt-1 pb-1 faded">Please choose an option.</h3>
    <div class="row justify-content-center content-row pt-1">
      <div class="card p-3 col-md-6 col-lg-4 col-xl-2">
        <div class="card-img pb-3">
          <a href="supplies">
            <div class="step">
              <span class="mbr-fonts-style display-2">1</span>
            </div>
          </a>
        </div>
        <div class="card-box">
          <h4 class="card-title mbr-fonts-style display-5">Supplies</h4>
        </div>
      </div>
      <div class="card p-3 col-md-6 col-lg-4 col-xl-2">
        <div class="card-img pb-3">
          <a href="supply_orders">
            <div class="step">
              <span class="mbr-fonts-style display-2">2</span>
            </div>
          </a>
        </div>
        <div class="card-box">
          <h4 class="card-title mbr-fonts-style display-5">Supply Orders</h4>
        </div>
      </div>
      <div class="card p-3 col-md-6 col-lg-4 col-xl-2">
        <div class="card-img pb-3">
          <a href="suppliers">
            <div class="step">
              <span class="mbr-fonts-style display-2">3</span>
            </div>
          </a>
        </div>
        <div class="card-box">
          <h4 class="card-title mbr-fonts-style display-5">Suppliers</h4>
        </div>
      </div>
      <div class="card p-3 col-md-6 col-lg-4 col-xl-2">
        <div class="card-img pb-3">
          <a href="customers">
            <div class="step">
              <span class="mbr-fonts-style display-2">4</span>
            </div>
          </a>
        </div>
        <div class="card-box">
          <h4 class="card-title mbr-fonts-style display-5">Customers</h4>
        </div>
      </div>
      <div class="card p-3 col-md-6 col-lg-4 col-xl-2">
        <div class="card-img pb-3">
          <a href="customer_orders">
            <div class="step">
              <span class="mbr-fonts-style display-2">5</span>
            </div>
          </a>
        </div>
        <div class="card-box">
          <h4 class="card-title mbr-fonts-style display-5">Customer Orders</h4>
        </div>
      </div>
      <div class="card p-3 col-md-6 col-lg-4 col-xl-2">
        <div class="card-img pb-3">
          <a href="prices">
            <div class="step">
              <span class="mbr-fonts-style display-2">6</span>
            </div>
          </a>
        </div>
        <div class="card-box">
          <h4 class="card-title mbr-fonts-style display-5">Prices</h4>
        </div>
      </div>
    </div>
  </div>
</section>
