<section class="table1 section-table cid-rJfBbhIXcd" id="table1-9">
  <div class="container-fluid">
    <div class="media-container-row align-center">
      <div class="col-12 col-md-12">
        <div class="table-wrapper pt-5" style="width: 88%;">
          <div class="container-fluid">
          </div>
          <div class="container-fluid scroll">
            <table class="table table-striped" cellspacing="0">
              <thead>
                <tr class="table-heads">
                  <th class="head-item mbr-fonts-style display-4">#</th>
                  <th class="head-item mbr-fonts-style display-4">Product Name</th>
                  <th class="head-item mbr-fonts-style display-4">Brand</th>
                  <th class="head-item mbr-fonts-style display-4">UPC</th>
                  <th class="head-item mbr-fonts-style display-4">Purchase Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="body-item mbr-fonts-style display-7">1</td>
                  <td class="body-item mbr-fonts-style display-7">PRODUCT NAME</td>
                  <td class="body-item mbr-fonts-style display-7">BRAND</td>
                  <td class="body-item mbr-fonts-style display-7">UPC NUMBER HERE</td>
                  <td class="body-item mbr-fonts-style display-7">$647.00<br></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="container-fluid table-info-container">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
