<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Login - Online Store</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" as="style" href="/assets/mobirise/css/mbr-additional.css">
  <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
</head>
<body>
  {{>navbar}}
  <section class="cid-rJfDeLD6Rq" id="form3-g">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="form-1 col-md-8 col-lg-5">
          <!---Formbuilder Form--->
          <form action="/submit" method="POST" class="mbr-form form-with-styler" data-form-title="Login">
            <!-- <input type="hidden" name="email" data-form-email="true" value="F9KdXB7A4ecO9BseWsQTGA8iXF/sP0ABbkOXsvQhDQ0rhvyPcgVIbbZMaBbTSsbEiCz6HpWfCjxKvXmKNoAXtKNMlKIOsMBd7mqLrzQ58+9iaXNdUMRzZ61Pz+S0O7Az"> -->
            <div class="form-row input-main">
            </div>
            <div class="dragArea form-row input-main">
              <div class="col-md-12">
                <h1 class="mbr-fonts-style mbr-fonts-style mbr-section-title align-center display-2">Log In</h1>
              </div>
              <div class="col-md-12 form-group" data-for="firstname">
                <center>
                  <label for="firstname-form3-g" class="form-control-label mbr-fonts-style display-7">Username</label>
                </center>
                <input type="text" name="username" data-form-field="Username" required="required" class="form-control display-7" id="username">
              </div>
              <div data-for="lastname" class="col-md-12 form-group">
                <center>
                  <label for="lastname-form3-g" class="form-control-label mbr-fonts-style display-7">Password<br></label>
                </center>
                <input type="text" name="password" data-form-field="Password" class="form-control display-7" required="required" id="password">
              </div>
              <div class="input-group-btn col-md-12">
                <center>
                  <button type="submit" class="btn btn-form btn-secondary display-4">Log In</button>
                </center>
              </div>
            </div>
          </form>
          <!---Formbuilder Form--->
        </div>
      </div>
    </div>
  </section>
  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/dropdown/js/nav-dropdown.js"></script>
  <script src="assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/theme/js/script.js"></script>
  <script src="assets/formoid/formoid.min.js"></script>
</body>
</html>
