<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Products - Online Store</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" as="style" href="/assets/mobirise/css/mbr-additional.css">
  <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
</head>
<body>
  {{>navbar}}
  <section class="features5 popup-btn-cards cid-rJfCoFRV5C" id="features5-c">
    <div class="container-fluid">
      <h2 class="mbr-section-title align-center mbr-fonts-style display-2">FEATURED PRODUCTS</h2>
      <div class="underline align-center">
        <div class="line"></div>
      </div>
      <div class="row justify-content-center pt-5 align-items-start">
        <div class="card p-3 col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="card-wrapper ">
            <div class="card-img">
              <div class="mbr-overlay"></div>
              <div class="mbr-section-btn text-center"><a href="cameras" class="btn btn-white display-4">View All</a>
              </div>
              <img src="assets/images/mbr-776x548.jpg" alt="Mobirise" title="">
            </div>
            <div class="card-box">
              <h4 class="card-title mbr-fonts-style align-center display-5">Cameras<br></h4>
            </div>
          </div>
        </div>
        <div class="card p-3 col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="card-wrapper">
            <div class="card-img">
              <div class="mbr-overlay"></div>
              <div class="mbr-section-btn text-center"><a href="televisions" class="btn btn-white display-4">View All</a>
              </div>
              <img src="assets/images/mbr-776x517.jpg" alt="Mobirise" title="">
            </div>
            <div class="card-box">
              <h4 class="card-title mbr-fonts-style align-center display-5">Televisions<br></h4>
            </div>
          </div>
        </div>
        <div class="card p-3 col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="card-wrapper">
            <div class="card-img">
              <div class="mbr-overlay"></div>
              <div class="mbr-section-btn text-center"><a href="audio" class="btn btn-white display-4">View All</a>
              </div>
              <img src="assets/images/mbr-776x439.jpg" alt="Mobirise" title="">
            </div>
            <div class="card-box">
              <h4 class="card-title mbr-fonts-style align-center display-5">Home Audio<br></h4>
            </div>
          </div>
        </div>
        <div class="card p-3 col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="card-wrapper">
            <div class="card-img">
              <div class="mbr-overlay"></div>
              <div class="mbr-section-btn text-center"><a href="other" class="btn btn-white display-4">View All</a>
              </div>
              <img src="assets/images/mbr-1-776x517.jpg" alt="Mobirise" title="">
            </div>
            <div class="card-box">
              <h4 class="card-title mbr-fonts-style align-center display-5">Other<br></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{>productdisplay}}
  {{>loginfooter}}
  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/dropdown/js/nav-dropdown.js"></script>
  <script src="assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/mbr-popup-btns/mbr-popup-btns.js"></script>
  <script src="assets/datatables/jquery.data-tables.min.js"></script>
  <script src="assets/datatables/data-tables.bootstrap4.min.js"></script>
  <script src="assets/theme/js/script.js"></script>
</body>
</html>
